body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
    padding:0;
}

.topnav {
    background-image: linear-gradient(to bottom right,orange,tomato);;
    overflow: hidden;

  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(255, 4, 192);
    color: black;
  }
 
  .topnav a.active {
    background-color: #04fa93;
    color: white;
  }

h1{
    font-size: 50px;
    font-weight: 900;
    color: black;
}

p{
    font-size: 13px;
    font-weight: 300;
}

h2{
    font-size: 35px;
    padding-top: 10px;
}

.color-change{
    color:orange;
}

.fexible-container{
    display:flex;
    margin-bottom: 100px;
    margin-top: 20px;
}

.header-half{
    width:50%;
    padding-left:5% ;
}

.header-half h1{
    padding-top: 200px;
}

.header-half p{
    padding-bottom: 40px;
}

.header-half img{
    width:80%;
}

.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    color: white;
    font-weight: 700;
    border-radius: 25px;
}

.nd-side{
    width: 100%;
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
}

.header-half-1{
    width:50%;
  
}

.header-half-1 img{
    width:35%;
    padding-left: 100px;
}

.header-half-1 h1{
    padding-top: 20px;
}

.header-half-1 p{
    padding-bottom: 20px;
    font-size: 20px;
    width:50%;
}

.header-half-1 a{
    padding-bottom: 10px;
    width:50%;
}

.mid-topic{
text-align:center ;
}

.mid-topic p{
    font-weight: 400 ;
    }

.mid-topic h2{
    color: gray ;
 }    

.experience-box{
    display: flex;
}
.boxes{
    width:30%;
    margin-left: 3%;
    margin-right: 3%;
    box-shadow: 2px 2px 10px gray;
    padding: 15px;
    margin-top: 30px;
    border-radius: 15px;
}

.boxes img{
    width:100%;
}

.boxes p{
    font-weight: 400;
}

.boxes h2{
    color: gray;
}

.last-container{
    display: flex;
    width:90%;
    border-radius: 15px;
    margin:auto;
    margin-top: 100px;
    box-shadow: 5px 5px 10px 5px gray;
}

.last-step{
    width: 100%;
    margin-left: 10%;
    padding: 15px 40px
}

.last-step h2{
    font-size: 30px;
}

footer{
    text-align: center;
    margin-top: 100px;
    background-color: gray;
}

footer h3{
    padding-bottom: 5px;
    padding-top: 25px;
    font-size: 25px;
}

footer p{
    padding-bottom: 80px;
    color: white;
}
.footer-color-change{
    color:yellowgreen;
    font-size: 32px;
    font-weight: 300;
}

